* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../imagem/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* header */
header{
    background-image: url('../imagem/dev.png');
    background-size: 100% 100%;
    background-position: center;
    max-width: 100%;
    width: 100%;
    height: 70vh;
}
.logo {
    float: left;
    display: block;
    padding: 16px;
    font-size: 2rem;
    position: fixed;
    color: #101026;
    font-weight: bold;
}
.menu {    
    position: fixed;
    top: 0;
    right: 0;
}
.menu a{
    float: left;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 2rem;
    color: #101026;
    font-weight: bold;
}
.menu a:hover {
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.753);
}
h2{
    padding-top: 6rem;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px 5px #333;
    font-size: 3rem;
    width: 100%;

}
/* main */
.container {
    width: 100%;
}
.texto{
    text-align: center;
    margin: 4.5rem 0 2rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
}
section .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    cursor: pointer;
    margin-top: 0;
    padding: 0;
    float: right;
    display: grid;
}
section .container h3{
    text-align: center;
    margin: 1.5rem 0 2rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
}
section #imagem{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    transition: 1s;
    max-width: 100%;
    width: 100%;
}
section .imagem1 {
    background-image: url('../imagem/1.jpg');
}
section .imagem2 {
    background-image: url('../imagem/2.jpg');
}
section .imagem3 {
    background-image: url('../imagem/3.jpg');
}
section {
    width: 100%;
    float: left;
}
section p{
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0 15rem;
}
/* formulário */
form{
    width: 23%;
    border-radius: 10px;
    border: 3px solid black;
    margin: 0 auto;
    font-weight: bold;
    background: rgba(30, 206, 131, 0.1);
    margin-bottom: 3rem;
    box-shadow: 25px 15px 10px 2px  rgba(74, 146, 110, 0.5)
}
form p{
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 1rem;
}
input {
    width: 23rem;
    border-radius: 0.6rem;
    height: 2.5rem;
    background: rgba(30, 206, 131, 0.1);
    box-sizing: border-box;
    border: 3px solid black;
    font-size: 1rem;
    margin: 0.4rem 1rem;
}
.filform{
    padding: 0.5rem;
    font-size: 1rem;
}
#name{
    text-transform: uppercase;
}
#email{
    text-transform: lowercase;
}
label {
    height: 1.5rem;
    font-size: 1.2rem;
    margin: 1rem 1.3rem;
}
textarea {
    resize: none;
    width: 23rem;
    background: rgba(30, 206, 131, 0.1);
    border-radius: 10px;
    border: 3px solid black;
    margin: 0 1rem;
}
button {
    background: rgba(30, 206, 131, 0.1);
    cursor: pointer;
	border-radius: 10px; 
    width: 23rem;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 1rem;
    height: 3rem;
    padding: 0.3rem;
    color: #101026;
    border: 3px solid black;
}
button:hover {
    background-color: rgb(58, 110, 153);
    color: #101026;
}
/*footer*/
.footer{
    margin: 0 auto;
    width: 40%;
    
}

footer h5 {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 5em;
}
footer .social{
    width: 15rem;
    margin-right: 5px;
    align-items: center;
}
.social span{
    display: flex;
    
}
.social img{
    display: flex;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    margin-bottom: 1rem;
}
footer p{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
footer .container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(160, 209, 193);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 45rem;
    align-items: center;
    box-shadow: 25px 15px 10px 2px  rgba(74, 146, 110, 0.5)
}

footer .maps {
    overflow: hidden;
    padding-bottom: 40%;
    border-radius: 1rem;
    height: 0;
    width: 32rem;
    margin: .8rem;
}
footer h4{
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 1rem;
    font-weight: bold;
}
/* Modal */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    position: relative;
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border-radius: 10px;
    width: 21%;
    height: 4rem;
}
#close-button {
    color: #101026;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.modal-content p{
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    margin: 0.5rem 0;
}
/* obrigado */
#main{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    color: #101026;
    margin: 30vh auto;
}
.text{
    font-size: 3rem; 
}
.paragrafo{
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.btn{
    padding: 10px 30px;
    background: #101026;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    border-radius: 20px;
}  
@media (max-width:900px) {

    .banner {
        width: 100%;
        height: 100%;
    }
    .texto{
        width: 100%;
        margin-top: 0;
        text-align: center;
        margin-left: 0rem;
    }
    h2{
        font-size: 1.5rem;
    }
    main section.servicos .container {
        grid-template-columns: 1fr;
    }

    nav {
        display: flex;
        flex-direction: column;

    }
    nav .menu {
        display: flex;
        flex-direction: column;
        display: none;
    }

    nav:hover .menu {
        display: flex;
    }
    footer .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    section.quem-somos {
    height: 45vh;
    }

    section.quem-somos p{
        font-size: 1rem;
        text-align: justify;
        
    }
    .imgp{
        height: 25vh;
    }
    main section.servicos .container .imagem {
        height: 20vh;
    }
  
}
