* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}
body {
    background-image: url('../imagem/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* header */
header{
    background-image: url('../imagem/dev.png');
    background-size: 100% 100%;
    background-position: center;
    max-width: 100%;
    width: 100%;
    height: 70vh;
}
nav{
    width: 100%;
    max-width: 100%;
    display: inline;
    margin: 0;
    padding: 0;
    height: 3rem;
}
.fixed{
    position: fixed;
    transition: background-color 0.4s;
}
.scrolled{
    background-color: rgba(0, 0, 0, 0.247);
}
nav #logo {
    float: left;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    text-shadow: 2px 2px 5px #333;
}
nav ul{
    float: right;
    display: flex;
    list-style: none;

}
nav ul a{
    display: block;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px #333;
}
nav a:hover,
nav #logo:hover{
    transition: 0.3s;
    color: aqua;
}
.scrolled ul li a:hover{
    transition: 0.3s;
    color: aqua;
}
h2{
    padding-top: 6rem;
    text-align: center;
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 5px #333;
    font-size: 3rem;
    width: 100%;
}
/* main */
.container {
    width: 100%;
}
.texto{
    text-align: center;
    margin: 4rem 0 1rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
}
section .container {
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    padding: 0;
    float: right;
    display: grid;
}
section .container h3{
    text-align: center;
    margin: .5rem 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
section #imagem{
    background-size: 100% 100%;
    background-position: center;
    height: 40vh;
    transition: 1s;
    margin: 0.5rem;
}
section .imagem1 {
    background-image: url('../imagem/1.jpg');
}
section .imagem2 {
    background-image: url('../imagem/2.jpg');
}
section .imagem3 {
    background-image: url('../imagem/3.jpg');
}
section {
    width: 100%;
    float: left;
}
section p{
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0 15rem;
    color: black;
}
/* formulário */
form{
    width: 26%;
    border-radius: 10px;
    border: 3px solid black;
    margin: 0 auto;
    font-weight: bold;
    background: rgba(30, 206, 131, 0.1);
    margin-bottom: 3rem;
    box-shadow: 25px 15px 10px 2px  rgba(74, 146, 110, 0.5)
}
form p{
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 1rem;
    color: black;
}
input {
    width: 20rem;
    border-radius: 0.6rem;
    height: 2.5rem;
    border: 3px solid black;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.4rem 1rem;
    background: rgba(30, 206, 131, 0.1);
    color: black;
}
.filform{
    padding: 0.5rem;
    font-size: 1rem;
}
#name{
    text-transform: uppercase;
}
#email{
    text-transform: lowercase;
}
label {
    height: 1.5rem;
    font-size: 1.2rem;
    margin: 1rem 1.3rem;
    color: black;
}
textarea {
    resize: none;
    height: 5rem;
    width: 20rem;
    background: rgba(30, 206, 131, 0.1);
    border-radius: 10px;
    border: 3px solid black;
    margin: 0 1rem;
}
#message{
    color: black;
    font-weight: bold;
}
button {
    background: rgba(30, 206, 131, 0.1);
    cursor: pointer;
	border-radius: 10px; 
    width: 20rem;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 1rem;
    padding: 0.3rem;
    color: black;
    border: 3px solid black;
}
button:hover {
    background-color:aqua;
    color: black;
}
/*footer*/
footer h5 {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 5em;
    color: black;
}
footer .social{
    width: 15rem;
    margin-right: 5px;
    align-items: center;
}
.social span{
    display: flex;
    
}
.social img{
    display: flex;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    margin-bottom: 1rem;
}
footer p{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
footer .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(160, 209, 193);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 45rem;
    align-items: center;
    box-shadow: 25px 15px 10px 2px  rgba(74, 146, 110, 0.5)
}
footer .maps {
    overflow: hidden;
    padding-bottom: 50%;
    border-radius: 1rem;
    height: 0;
    width: 29rem;
    margin: .8rem .8rem .8rem;
}
footer h4{
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
/* Modal */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    position: relative;
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border-radius: 10px;
    width: 21%;
    height: 4rem;
}
#close-button {
    color: black;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.modal-content p{
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    margin: 0.5rem 0;
}
/* obrigado */
#main{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    color: black;
    margin: 30vh auto;
}
.text{
    font-size: 3rem; 
    color: black;
}
.paragrafo{
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.btn{
    padding: 10px 30px;
    background: black;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    border-radius: 20px;
}  
@media (max-width:900px) {
    header{
        height: 40vh;
    }
    .texto{
        text-align: center;
        margin: 0.5rem;
        font-size: 1.9rem;
        font-weight: bold;
        color: black;
    }
    h2{
        font-size: 1.5rem;
        padding: 1rem;
    }
    main section.servicos .container {
        grid-template-columns: 1fr;
    }
    section #imagem{
        height: 20vh;

    }
    nav{
        display: none;
    }
    form{
        width: 80%;
    }
    input,
    textarea,
    button {
        width: 15rem;
    }
    nav:hover .menu {
        display: flex;
    }
    footer .container {
        grid-template-columns: 1fr;
        width: 83%;
        margin: 1.5rem;
    }
    footer .maps {
        width: 90%;
        margin: .8rem .8rem .8rem;
        text-align: center;
    }
    .social img{
        height: 15px;
        margin-left: 8rem;
        margin-bottom: 1rem;
    }
    footer p{
        font-size: 0.8rem;
        font-weight: bold;
    }
    section p{
        font-size: 1rem;
        width: 90%;
        margin: 0 1rem 1rem;
    }
    main section.servicos .container .imagem {
        height: 20vh;
    }
}
