* {
    box-sizing: border-box;
    margin: 0;

}

body {
    background-image: url('imagem/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    width: 100%;
    max-width: 100%;
    background-color: rgba(128, 128, 128, 0.822);
    margin-top: 0;
    color: white;
}

nav .logo {
    float: left;
    display: block;
    padding: 16px;
    font-size: 2rem;
}

nav a {
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 1.5rem;
    color: white;
}

nav a:hover {
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.753);
}

.imgp{
    height: 100vh;
    background-image: url('imagem/dev.png');
    background-size: 100%;
    background-repeat: no-repeat;

}
.texto{
    width: 100%;   
    color: white;
    text-shadow: 2px 2px 5px #333;
    font-size: 3rem;
    text-align: center;
}
.texto h2{
    padding-top: 8rem;

}
.container {
    width: 100%;
    margin: 0px auto;
}

h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}
.qs{
    margin-bottom: 2rem;
    color: black;
    
}

.title{
    margin-bottom: 30px;
    font-size: 1.5em;
}
main section.servicos h3 {
    color: black;
    text-align: center;
}

main section.servicos .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    cursor: pointer;
    margin-top: 0;
    padding: 0;
    float: right;
    display: grid;

}

main section.servicos .container .imagem {
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    transition: 1s;
    max-width: 100%;
    width: 100%;

}

main section.servicos .container #imagem1 {
    background-image: url('imagem/1.jpg');
}

main section.servicos .container #imagem2 {
    background-image: url('imagem/2.jpg');
}

main section.servicos .container #imagem3 {
    background-image: url('imagem/3.jpg');
}

section {
    width: 100%;
    float: left;
}

section.quem-somos {
    height: 5vh;
    color: black;

}

section.quem-somos h3 {
    font-size: 30px;
}

section.quem-somos p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin: 0 2em;
}

form {
    width: 360px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border-radius: 0.6rem;
    height: 2rem;
    background: rgba(30, 206, 131, 0.1);
    box-sizing: border-box;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
}

label {
    text-align: center;
    height: 1.5rem;
    font-size: 20px;
}

textarea {
    resize: none;
    width: 100%;
    background: rgba(30, 206, 131, 0.1);
    border-radius: 0.6rem;
    margin-bottom: 0.8rem;
    border: 2px solid black;
}

footer {
    width: 90%;
    margin-left: 1em;
}


footer h5 {
    font-size: 20px;
    text-align: center;
    margin-top: 5em;
}

footer .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

footer .social .h4 {
    display: flex;
    align-items: center;
    font-size: 5px;

}

footer .social .icon {
    color: green;
    font: var(--font-p);
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

footer p {
    padding: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: black;
    margin-left: 0.5rem;
}

footer .container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aquamarine;
    border-radius: 1rem;
    width: 40rem;
    align-items: center;
}

footer .maps {
    overflow: hidden;
    padding-bottom: 40%;
    border-radius: 1rem;
    height: 0;
    margin: 10px 10px 10px;
}

@media (max-width:900px) {

    .banner {
        width: 100%;
        height: 100%;
    }
    .texto{
        width: 100%;
        margin-top: 0;
        text-align: center;
        margin-left: 0rem;
    }
    h2{
        font-size: 1.5rem;
    }
    main section.servicos .container {
        grid-template-columns: 1fr;
    }

    nav {
        display: flex;
        flex-direction: column;

    }
    nav .menu {
        display: flex;
        flex-direction: column;
        display: none;
    }

    nav:hover .menu {
        display: flex;
    }


    footer .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
   
    section.quem-somos{
        height: 20vh;
    }
    section.quem-somos p{
        font-size: 1rem;
        text-align: center;
        
    }
    .imgp{
        height: 5vh;
    }
    main section.servicos .container .imagem {
        height: 20vh;
    }
  
}
